<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload PCAP File</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Upload PCAP File for Threat Detection</h1>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file-input" required />
            <p id="filename"></p> 
            <button type="submit">Upload and Detect</button>
        </form>
    </div>

    <script>
        const fileInput = document.getElementById('file-input');
        const filenameDisplay = document.getElementById('filename');

        fileInput.addEventListener('change', function() {
            filenameDisplay.textContent = this.files[0].name; // Display filename below the button
        });
    </script>
</body>
</html>
